<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to WS" stopProcessing="true">
          <match url="^(ws/.*)" />
          <conditions>
            <add input="{HTTP_UPGRADE}" pattern="websocket" />
          </conditions>
          <action type="Redirect" url="ws/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>