<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Append API" stopProcessing="true">
          <match url="^(.*)" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Redirect" url="/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
