<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="WebSocket Reverse Proxy" stopProcessing="true">
          <match url="^ws/(.*)" />
          <conditions>
            <add input="{HTTP_UPGRADE}" pattern="WebSocket" />
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Rewrite" url="ws://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>